.app-h1{
    background-color: greenyellow;
}
 
/* cabecalho/ */
.cabecalho-h1{
    background-color: brown
}
 
 
/* cupons/ */
.cupons{
    width: 100%;
    height: 150px;
    background-color: yellow;
}